In [1]:
import pandas as pd

In [2]:
def read_excel(filename):
    """Read special Excel spreadsheet to input dict. 
    
    Args:
        filename: path to a spreadsheet file
        
    Returns
        dict of DataFrames, to be passed to create_model()
    """
    with pd.ExcelFile(filename) as xls:
        actor = xls.parse('Actor').set_index('Name')
        film = xls.parse('Film').set_index('Title')
        actor_film = xls.parse('Actor-Film').set_index(['Actor', 'Film'])
        
    data = {
        'actor': actor,
        'film': film,
        'actor-film': actor_film}

    return data

In [5]:
Datos = read_excel('input.xlsx')

In [8]:
Datos.keys()

dict_keys(['actor-film', 'film', 'actor'])

In [9]:
Datos["actor"]

                     age  sink-source
Name
Lakeshia Westerberg   15            1
Rajab Heintze         27            0
Oceanus Yap           33            0
Tiger Probert         86            0
Kevin Bacon           39           -1

In [10]:
Datos["actor-film"]

                                            screen-time
Actor               Film
Lakeshia Westerberg The fast brat of Paris            5
Oceanus Yap         The fast brat of Paris           55
Lakeshia Westerberg The young fly                   100
Rajab Heintze       The young fly                    80
                    The red beard                    50
Oceanus Yap         The red beard                    23
Tiger Probert       The red beard                    11
                    Farm of ribbons                  45
Kevin Bacon         Farm of ribbons                  79

In [11]:
Datos["film"]

                            genre  year
Title
The fast brat of Paris  Film noir  2001
The young fly              Action  2002
The red beard              Comedy  2003
Farm of ribbons             Drama  2004